@page
@model BikeStore.App.Web.Pages.ProductosModel
@{
    ViewData["Title"] = "Gestion Productos";
}

<div class="container-fluid px-4">

    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Crear
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="number" name="" id="cedula" class="form-control"
                                        placeholder="Ingrese el nombre del producto nuevo" aria-describedby="helpId"
                                        minlength="3" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Descripcion</label>
                                    <input type="text" name="" id="nombre" class="form-control"
                                        placeholder="Ingrese la descripcion del producto nuevo" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Prodcutos
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bicicleta marca specialized turbo levo</td>
                        <td>Ruedas entre 27'5" y 29", dirección puede ajustarse entre 63 y 65,5 grados, Supensión delantera de 160 mm y trasera de 150 mm</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bicicleta marca specialized turbo levo</td>
                        <td>Ruedas entre 27'5" y 29", dirección puede ajustarse entre 63 y 65,5 grados, Supensión delantera de 160 mm y trasera de 150 mm</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Bicicleta marca specialized turbo levo</td>
                        <td>Ruedas entre 27'5" y 29", dirección puede ajustarse entre 63 y 65,5 grados, Supensión delantera de 160 mm y trasera de 150 mm</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Bicicleta marca specialized turbo levo</td>
                        <td>Ruedas entre 27'5" y 29", dirección puede ajustarse entre 63 y 65,5 grados, Supensión delantera de 160 mm y trasera de 150 mm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
