@page
@model BikeStore.App.Web.Pages.GestionClientesModel
@{
    ViewData["Title"] = "Gestion Clientes";
}

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Clientes
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#exampleModal" onclick="editar('Clientes');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" onclick="crear('Clientes');">
            Crear
        </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registro de Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="nombre">Cedula</label>
                                    <input type="number" name="" id="cedula" class="form-control"
                                        placeholder="Ingrese su numero de cedula" aria-describedby="helpId"
                                        minlength="3" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="" id="nombre" class="form-control"
                                        placeholder="Ingrese el nombre" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="" id="apellido" class="form-control"
                                        placeholder="Ingrese el apellido" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Telefono</label>
                                    <input type="number" name="" id="telefono" class="form-control"
                                        placeholder="Ingrese el Telefono" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="nombreUsuario" class="form-control"
                                        placeholder="Ingrese el email" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="direccion">Direccion</label>
                                    <input type="password" name="direccion" id="contraseña" class="form-control"
                                        placeholder="Ingrese direccion" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group" hidden>
                                    <label for="rol">rol</label>
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option value="1" selected>Cliente</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit"  id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Clientes
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                         <th>Id</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr onclick="seleccionarRegistro();">
                        <td>1</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>2</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr onclick="seleccionarRegistro();">
                    <tr>
                        <td>3</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>4</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>5</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>6</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>7</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>8</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>9</td>
                        <td>91912323</td>
                        <td>Alejandro</td>
                        <td>Martinez</td>
                        <td>3145654531</td>
                        <td>martinez@fdsfsf.com</td>
                        <td>KR 9 N #122-122</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
