@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenida";
}

<div class="text-center container-fluid px-4">
    <h1 class="display-4 tittleWelcome">Bienvenido a BikeStore Gestor de Ventas</h1>
    <img src="img/logoIndex.jpeg" alt="">
</div>
