@page
@model BikeStore.App.Fronted.Pages.ProductosModel
@{
}
<h1>PRODUCTOS</h1>

<form>
  <label for="id_prodcuto">ID del producto</label>
  <input type="text" name="id_prodcuto" id="id_prodcuto">
  
  <label for="nombre_prodcuto">Nombre del producto</label>
  <input type="text" name="nombre_prodcuto" id="nombre_prodcuto">

  <label for="descripcion_prodcuto">Descripción del producto</label>
  <input type="text" name="descripcion_prodcuto" id="descripcion_prodcuto">

  <br/>
  <input type="submit">

  <table border='1'>
  <thead>
    <tr>
      <th>ID del producto</th>
      <th>Nombre del producto</th>
      <th>Descripción del producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ejemplo 1</td>
      <td>ejemplo 2</td>
      <td>ejemplo 3</td>
    </tr>
  </tbody>
</table>

</form>