@page
@model BikeStore.App.Web.Pages.InicioModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bienvenida";
}

<div id="containerRol" hidden>@Model.rolValidateSession</div>

<div class="text-center container-fluid px-4">
    <h1 class="display-4 tittleWelcome">Bienvenido a BikeStore Gestor de Ventas</h1>
    <img src="~/img/logoIndex.jpeg" alt="">
</div>

